.env
sunmarke_firecrawl.csv
__pycache__/
sunmarke_firecrawl_1.csv
sunmarke_manual_scrape.csv
ingestion/manual_scraping.py
sunmarke_accordion_scraped.csv
venv/
deepseek.mp3
gemini.mp3
input.wav
kimi.mp3
UI/sunmarke-voice-agent/node_modules/
UI/sunmarke-voice-agent/dist/
UI/sunmarke-voice-agent/build/
UI/sunmarke-voice-agent/.next/


temp_audio/
